apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ include "resource.default.name" . }}
  namespace: {{ include "resource.default.namespace" . }}
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        releaseRevision: {{ .Release.Revision | quote }}
      labels:
        {{- include "labels.common" . | nindent 8 }}
        {{- if and (eq .Values.managementCluster.provider.kind "capz") .Values.managementCluster.azure.useAzureWorkloadIdentities }}
        azure.workload.identity/use: "true"
        {{- end }}
    spec:
      serviceAccountName: {{ include "resource.default.name"  . }}
      securityContext:
        {{- with .Values.podSecurityContext }}
        {{- . | toYaml | nindent 8 }}
        {{- end }}
      containers:
      - name: {{ include "name" . }}
        image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
        args:
          - --leader-elect
          - --metrics-bind-address=:{{ default 14000 .Values.metricsPort }}
          - --health-probe-bind-address=:{{ default 14001 .Values.probePort }}
          - --management-cluster-base-domain={{ .Values.managementCluster.baseDomain }}
          - --management-cluster-namespace={{ .Values.managementCluster.namespace }}
          - --management-cluster-name={{ .Values.managementCluster.name  }}
          - --management-cluster-provider={{ .Values.managementCluster.provider.kind  }}
          - --management-cluster-region={{ .Values.managementCluster.region  }}
        {{ if eq .Values.managementCluster.provider.kind "capa" -}}
        env:
          - name: AWS_SHARED_CREDENTIALS_FILE
            value: /home/.aws/credentials
        {{ else if and (eq .Values.managementCluster.provider.kind "capz") .Values.managementCluster.azure.useAzureWorkloadIdentities }}
        env:
          - name: AZURE_FEDERATED_TOKEN_FILE
            value: /var/run/secrets/azure/tokens/azure-identity-token
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ default 14001 .Values.probePort }}
          initialDelaySeconds: 30
          timeoutSeconds: 1
        ports:
        - containerPort: {{ default 14000 .Values.metricsPort }}
          name: http
          protocol: TCP
        - containerPort: {{ default 14001 .Values.probePort }}
          name: health
          protocol: TCP
        securityContext:
          {{- with .Values.containerSecurityContext }}
          {{- . | toYaml | nindent 10 }}
          {{- end }}
        resources:
          {{- .Values.resources | toYaml | nindent 10 }}
        {{ if eq .Values.managementCluster.provider.kind "capa" -}}
        volumeMounts:
          - mountPath: /home/.aws
            name: credentials
        {{ else if and (eq .Values.managementCluster.provider.kind "capz") .Values.managementCluster.azure.useAzureWorkloadIdentities -}}
        volumeMounts:
          - mountPath: /var/run/secrets/azure/tokens
            name: azure-identity-token
            readOnly: true
        {{- end }}
      {{ if and (eq .Values.managementCluster.provider.kind "capz") (not .Values.managementCluster.azure.useAzureWorkloadIdentities) -}}
      hostNetwork: true
      {{- end }}
      {{ if eq .Values.managementCluster.provider.kind "capa" -}}
      volumes:
      - name: credentials
        secret:
          secretName: {{ include "resource.default.name" . }}-aws-credentials
      {{ else if and (eq .Values.managementCluster.provider.kind "capz") .Values.managementCluster.azure.useAzureWorkloadIdentities -}}
      volumes:
      - name: azure-identity-token
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              audience: api://AzureADTokenExchange
              expirationSeconds: 3600
              path: azure-identity-token
      {{- end -}}
